/* Direct document styling*/
body{
    margin:0;
    /* background-color:#0B0C10; */
}

/* Additional ID Styling */
#lessonBlock{
    background-color: black;
    color:white;
    padding:3%;
    width:20%;
    height:50%;
    margin:2%;
    border:3%;
    display:inline-block;
}
#checkoutLessons{
    background-color:black;
    color:white;
    width:90%;
    padding:10px;
    margin:15px;
    border-radius: 8px 8px 8px 8px;
}
#checkoutSub{
    font-weight: bold; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: x-large;
}
#checkoutCustomerDetailBox{
    margin:20px;
    border:20px;
}
#pagesub {
    font-weight: bold; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: x-large;
}

/* Styling for the navbar */
#navbar {
    background-color:black;
    height:7%;
    padding:20px;
    padding-left:45px;
    padding-right:45px;
    border:10px;
    margin:10px;

}
#searchbox{
    float:left;
    padding:10px;
    width: 19%;
    font-size:small;
    border-radius: 7px;
    border: 2px solid #45A29E;
    background-color:#c5c6c7;
}
#searchbox:focus, :hover{
    border: 2px solid #66fcf1;
    background-color:white;
}

.checkoutCart{
    padding:15px;
    border: 2px solid #1f2833;
    border-radius: 5px;
    background-color:#45A29E;
    color:#1f2833;
    font-weight: bold;
    transition:0.4s;
    float:right;
}
.checkoutCart:hover:enabled{
    background-color:#66fcf1;
    transition:0.4s;
}

/* Additional Class Styling */
.checkout-detail{
    margin-left:200px;  
}
.error{
    color:red;
}
.lessonimg{
    width:210px;
    height:100px;
}